<!-- Content Wrapper. Contains page content -->


<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- I Hành chính -->
        <div class="card card-primary card-outline card-custom">
          <!-- <div class="card-header">
              <h3 class="card-title"></h3>
            </div> -->
          <div class="row">
            <form class="form-horizontal col-8">
              <div class="card-body">

                <div class="form-group row">
                  <label class="col-12 col-form-label col-form-label-bold">A. BỆNH ÁN</label>
                </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label col-form-label-bold">I. Lý do vào viện</label>
                  <div class="col-10">
                    <input class="form-control form-control-sm" type="text"
                           [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.LyDoVaoVien" [ngModelOptions]="{standalone: true}" placeholder="">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-12 col-form-label col-form-label-bold">II. HỎI BỆNH</label>
                  <div class="col-12">
                    <textarea class="form-control" rows="5"
                              [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.HoiBenh"
                              [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-12 col-form-label col-form-label-bold">a. Tình hình sản phụ trong khi đẻ</label>
                </div>

                <div class="form-group row">
                  <label class="col-1 col-form-label">- Ối vỡ</label>
                  <div class="col-2">
                    <input class="form-control form-control-sm" type="datetime-local"
                           [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.OiVo" [ngModelOptions]="{standalone: true}" placeholder="">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-1 col-form-label">- Màu sắc</label>
                  <div class="col-2">
                    <input class="form-control form-control-sm" type="text"
                           [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.MauSac" [ngModelOptions]="{standalone: true}" placeholder="">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label">- Cách đẻ</label>
                  <div class="col-2">
                    <div class="form-check">
                      <!--                      TODO check lai binding value-->
                      <input type="checkbox" class="form-check-input"
                             [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.iCachDeID_Array[0]" [ngModelOptions]="{standalone: true}" id="BenhAnDeThuongID">
                      <label class="form-check-label" for="BenhAnDeThuongID">1. Đẻ thường</label>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-check">
                      <!--                      TODO check lai binding value-->
                      <input type="checkbox" class="form-check-input"
                             [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.iCachDeID_Array[1]" [ngModelOptions]="{standalone: true}" id="BenhAnCanThiepID">
                      <label class="form-check-label" for="BenhAnCanThiepID">2. Can thiệp</label>
                    </div>
                  </div>

                  <label class="col-auto col-form-label">lúc</label>
                  <div class="col-2">
                    <input class="form-control form-control-sm" type="datetime-local"
                           [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.ThoiGianDe" [ngModelOptions]="{standalone: true}" placeholder="">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-2 col-form-label">- Lý do can thiệp</label>
                  <div class="col-10">
                    <input class="form-control form-control-sm" type="text"
                           [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.LyDoCanThiep" [ngModelOptions]="{standalone: true}" placeholder="">
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-3 col-form-label col-form-label-bold">b. Tình trạng sơ sinh khi ra đời</label>
                  <div class="col-2">
                    <div class="form-check">
                      <!--                      TODO check lai binding value-->
                      <input type="checkbox" class="form-check-input"
                             [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.TinhTrangSoSinhKRDID_Array[0]" [ngModelOptions]="{standalone: true}" id="BenhAnTinhTrangKhocNgayID">
                      <label class="form-check-label" for="BenhAnTinhTrangKhocNgayID">1. Khóc ngay</label>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-check">
                      <!--                      TODO check lai binding value-->
                      <input type="checkbox" class="form-check-input"
                             [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.TinhTrangSoSinhKRDID_Array[1]" [ngModelOptions]="{standalone: true}" id="BenhAnTinhTrangNgatID">
                      <label class="form-check-label" for="BenhAnTinhTrangNgatID">2. Ngạt</label>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-check">
                      <!--                      TODO check lai binding value-->
                      <input type="checkbox" class="form-check-input"
                             [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.TinhTrangSoSinhKRDID_Array[2]" [ngModelOptions]="{standalone: true}" id="BenhAnTinhTrangKhacID">
                      <label class="form-check-label" for="BenhAnTinhTrangKhacID">3. Khác</label>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-4 col-form-label">- Họ tên, chức danh người đỡ đẻ, phẫu thuật</label>
                  <div class="col-8">
                    <input class="form-control form-control-sm" type="text"
                           [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.NguoiDoDe" [ngModelOptions]="{standalone: true}" placeholder="">
                  </div>
                </div>
                <div class="form-group row">
                  <label class=" col-auto col-form-label">- Apgar 1 phút</label>
                  <div class="col-1">
                    <input class="form-control form-control-sm" type="text"
                           [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.Apgar1" [ngModelOptions]="{standalone: true}" placeholder="">
                  </div>
                  <div class=" col-1"></div>
                  <label class="col-auto col-form-label">- 5 phút</label>
                  <div class="col-1">
                    <input class="form-control form-control-sm" type="text"
                           [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.Apgar5" [ngModelOptions]="{standalone: true}" placeholder="">
                  </div>
                  <div class="col-1"></div>
                  <label class=" col-auto col-form-label">- 10 phút</label>
                  <div class="col-1">
                    <input class="form-control form-control-sm" type="text"
                           [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.Apgar10" [ngModelOptions]="{standalone: true}" placeholder="">
                  </div>
                  <div class="col-1"></div>
                  <label class="col-auto col-form-label">Cân nặng</label>
                  <div class="col-1">
                    <input class="form-control form-control-sm" type="text"
                           [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.CanNang" [ngModelOptions]="{standalone: true}" placeholder="">
                  </div>
                  <label class="col-form-label">(g)</label>
                </div>

                <div class="form-group row">
                  <label class="col-5 col-form-label">- Tình trạng dinh dưỡng sau</label>
                  <div class="col-7">
                    <input class="form-control form-control-sm" type="text"
                           [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.TinhTrangDinhDuong" [ngModelOptions]="{standalone: true}" placeholder="">
                  </div>
                </div>




                <div class="form-group row">
                  <label class="col-12 col-form-label col-form-label-bold">c. Phương pháp hồi sinh ngay sau đẻ</label>
                </div>
                <div class="form-group row">
                  <div class="col-2">
                    <div class="form-check">
                      <!--                      TODO check lai binding value-->
                      <input type="checkbox" class="form-check-input"
                             [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.HutDich" [ngModelOptions]="{standalone: true}" id="BenhAnHutDichID">
                      <label class="form-check-label" for="BenhAnHutDichID">1. Hút dịch</label>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-check">
                      <!--                      TODO check lai binding value-->
                      <input type="checkbox" class="form-check-input"
                             [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.DatNoiKhiQuan" [ngModelOptions]="{standalone: true}" id="BenhAnDatNoiKhiQuanID">
                      <label class="form-check-label" for="BenhAnDatNoiKhiQuanID">4. Đặt nội khí quản</label>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-2">
                    <div class="form-check">
                      <!--                      TODO check lai binding value-->
                      <input type="checkbox" class="form-check-input"
                             [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.XoaBopTim" [ngModelOptions]="{standalone: true}" id="BenhAn_Hoisinh_XoaBopTimID">
                      <label class="form-check-label" for="BenhAn_Hoisinh_XoaBopTimID">2. Xoa bóp tim</label>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-check">
                      <!--                      TODO check lai binding value-->
                      <input type="checkbox" class="form-check-input"
                             [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.BopBongO2" [ngModelOptions]="{standalone: true}" id="BenhAn_Hoisinh_BopBongO2ID">
                      <label class="form-check-label" for="BenhAn_Hoisinh_BopBongO2ID">5. Bóp bóng O2</label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-2">
                    <div class="form-check">
                      <!--                      TODO check lai binding value-->
                      <input type="checkbox" class="form-check-input"
                             [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.ThoO2" [ngModelOptions]="{standalone: true}" id="BenhAn_HoiSinh_ThoO2ID">
                      <label class="form-check-label" for="BenhAn_HoiSinh_ThoO2ID">3. Thở O2</label>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-check">
                      <!--                      TODO check lai binding value-->
                      <input type="checkbox" class="form-check-input"
                             [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.Khac" [ngModelOptions]="{standalone: true}" id="BenhAn_Hoisinh_KhacO2ID">
                      <label class="form-check-label" for="BenhAn_Hoisinh_KhacO2ID">6. Khác</label>
                    </div>
                  </div>
                </div>


              </div>
            </form>

          </div>
          <!-- /.card-body -->
        </div>
      </div>

    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->