<!-- Content Wrapper. Contains page content -->


<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- I Hành chính -->
        <div class="card card-primary card-outline card-custom">
          <!-- <div class="card-header">
              <h3 class="card-title"></h3>
            </div> -->
          <div class="row">
            <form class="form-horizontal col-6">
              <div class="card-body">
                <!-- Phần II. BỆNH ÁN -->
                <div class="form-group row">
                  <label class="col-12 col-form-label col-form-label-bold">A. BỆNH ÁN</label>
                </div>
                <!-- Phần II. BỆNH ÁN -->
                <div class="form-group row">
                  <label class="col-2 col-form-label col-form-label-bold">I. Lý do vào viện</label>
                  <div class="col-6">
                    <input class="form-control form-control-sm" type="text" 
                    [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.LyDoVaoVien" [ngModelOptions]="{standalone: true}" 
                    placeholder="">
                  </div>
                  <label class="col-2 col-form-label">Vào ngày thứ</label>
                  <div class="col-1">
                    <input class="form-control form-control-sm" type="text" 
                    [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.VaoNgayThu" [ngModelOptions]="{standalone: true}" 
                    placeholder="">
                  </div>
                  <label class="col-1 col-form-label">của bệnh</label>
                </div>
                <!--  -->
                <div class="form-group row">
                  <label class="col-12 col-form-label col-form-label-bold">II. HỎI BỆNH</label>
                </div>
                <div class="form-group row">
                  <label class="col-12 col-form-label col-form-label-bold">1. Quá trình bệnh lý</label>
                  <div class="col-12">
                    <input class="form-control form-control-sm" type="text" 
                    [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.QuaTrinhBenhLy" [ngModelOptions]="{standalone: true}" 
                    placeholder="">
                  </div>
                </div>
                <!--  -->
                <div class="form-group row">
                  <label class="col-12 col-form-label col-form-label-bold">2. Tiền sử bệnh</label>
                  <label class="col-12 col-form-label">+ Bản thân:</label>
                  <div class="col-12">
                    <textarea class="form-control" rows="3" placeholder=""
                    [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.TienSuBenhBanThan" 
                    [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                  </div>
                </div>
                <!--  -->
                
                <div class="form-group row form-background-custom-grey">
                  <label class="col-3 col-form-label">Đặc điểm liên quan bệnh</label>
                  <label class="col-3 col-form-label">Thời gian(tháng)</label>
                  <label class="col-3 col-form-label"></label>
                  <label class="col-3 col-form-label">Thời gian(tháng)</label>
                  <!--  -->
                  <div class="col-3">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" 
                      [ngModel]="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh?.DiUng" (ngModelChange)="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh.DiUng= $event"  
                      [ngModelOptions]="{standalone: true}" id="DacDiemLienQuanBenhDiUng">
                      <label class="form-check-label" for="DacDiemLienQuanBenhDiUng">Dị ứng</label>
                    </div>
                  </div>
                  <div class="col-3">
                    <input class="form-control form-control-sm" type="text" 
                    [ngModel]="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh?.DiUng_Text" (ngModelChange)="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh.DiUng_Text = $event"  [ngModelOptions]="{standalone: true}" 
                    placeholder="">
                  </div>
                  <div class="col-3">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" 
                      [ngModel]="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh?.ThuocLa" (ngModelChange)="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh.ThuocLa= $event"  
                      [ngModelOptions]="{standalone: true}" id="DacDiemLienQuanBenhThuocLa">
                      <label class="form-check-label" for="DacDiemLienQuanBenhThuocLa">Thuốc lá</label>
                    </div>
                  </div>
                  <div class="col-3">
                    <input class="form-control form-control-sm" type="text" 
                    [ngModel]="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh?.ThuocLa_Text" (ngModelChange)="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh.ThuocLa_Text= $event"  [ngModelOptions]="{standalone: true}" 
                    placeholder="">
                  </div>
                  <!--  -->
                  <div class="col-3">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" 
                      [ngModel]="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh?.MaTuy" (ngModelChange)="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh.MaTuy= $event"  
                      [ngModelOptions]="{standalone: true}" id="DacDiemLienQuanBenhMaTuy">
                      <label class="form-check-label" for="DacDiemLienQuanBenhMaTuy">Ma túy</label>
                    </div>
                  </div>
                  <div class="col-3">
                    <input class="form-control form-control-sm" type="text" 
                    [ngModel]="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh?.MaTuy_Text" (ngModelChange)="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh.MaTuy_Text= $event"  [ngModelOptions]="{standalone: true}" 
                    placeholder="">
                  </div>
                  <div class="col-3">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" 
                      [ngModel]="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh?.ThuocLao" (ngModelChange)="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh.ThuocLao= $event"  
                      [ngModelOptions]="{standalone: true}" id="DacDiemLienQuanBenhThuocLao">
                      <label class="form-check-label" for="DacDiemLienQuanBenhThuocLao">Thuốc lào</label>
                    </div>
                  </div>
                  <div class="col-3">
                    <input class="form-control form-control-sm" type="text" 
                    [ngModel]="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh?.ThuocLao_Text" (ngModelChange)="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh.ThuocLao_Text= $event"  [ngModelOptions]="{standalone: true}" 
                    placeholder="">
                  </div>

                  <!--  -->
                  <div class="col-3">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" 
                      [ngModel]="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh?.RuouBia" (ngModelChange)="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh.RuouBia= $event"  
                      [ngModelOptions]="{standalone: true}" id="DacDiemLienQuanBenhRuouBia">
                      <label class="form-check-label" for="DacDiemLienQuanBenhRuouBia">Rượu bia</label>
                    </div>
                  </div>
                  <div class="col-3">
                    <input class="form-control form-control-sm" type="text" 
                    [ngModel]="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh?.RuouBia_Text" (ngModelChange)="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh.RuouBia_Text= $event"  [ngModelOptions]="{standalone: true}" 
                    placeholder="">
                  </div>
                  <div class="col-3">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" 
                      [ngModel]="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh?.Khac_DacDiemLienQuanBenh" (ngModelChange)="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh.Khac_DacDiemLienQuanBenh= $event"  
                      [ngModelOptions]="{standalone: true}" id="DacDiemLienQuanBenhKhac_DacDiemLienQuanBenh">
                      <label class="form-check-label" for="DacDiemLienQuanBenhKhac_DacDiemLienQuanBenh">Khác</label>
                    </div>
                  </div>
                  <div class="col-3">
                    <input class="form-control form-control-sm" type="text" 
                    [ngModel]="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh?.Khac_DacDiemLienQuanBenh_Text" (ngModelChange)="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh.Khac_DacDiemLienQuanBenh_Text= $event"  [ngModelOptions]="{standalone: true}" 
                    placeholder="">
                  </div>

                </div>
                
                <!--  -->
                <div class="form-group row">
                  <label class="col-12 col-form-label">+ Gia đình:</label>
                  <div class="col-12">
                    <textarea class="form-control" rows="3" placeholder=""
                    [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.TienSuBenhGiaDinh" 
                    [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                  </div>
                </div>
                <!--  -->
              </div>
            </form>

            <form class="form-horizontal col-6">
              <div class="card-body">

              </div>
              <!-- /.card-body -->
            </form>

          </div>
          <!-- /.card-body -->
        </div>
      </div>

    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->