<!-- Content Wrapper. Contains page content -->


<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- I Hành chính -->
        <div class="card card-primary card-outline card-custom">
          <!-- <div class="card-header">
              <h3 class="card-title"></h3>
            </div> -->
          <div class="row">
            <form class="form-horizontal col-6">
              <div class="card-body">
                <!-- Phần II. BỆNH ÁN -->
                <div class="form-group row">
                  <label class="col-12 col-form-label col-form-label-bold">Phần II. BỆNH ÁN</label>
                </div>
                <!-- Phần II. BỆNH ÁN -->
                <div class="form-group row">
                  <label class="col-12 col-form-label col-form-label-bold">A. Y HỌC HIỆN ĐẠI</label>
                </div>
                <!--  -->
                <div class="form-group row">
                  <label class="col-2 col-form-label col-form-label-bold">I. Lý do vào viện</label>
                  <div class="col-10">
                    <input class="form-control form-control-sm" type="text"
                    [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.LyDoVaoVien" [ngModelOptions]="{standalone: true}" placeholder="">
                  </div>
                </div>
                <!--  -->
                <div class="form-group row">
                  <label class="col-12 col-form-label col-form-label-bold">II. Bệnh sử</label>
                  <div class="col-12">
                    <!-- <textarea class="form-control" rows="3" placeholder=""></textarea> -->

                    <textarea class="form-control" rows="3"
                    [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.BenhSu"
                    [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                  </div>
                </div>
                <!--  -->
                <!--  -->
                <!--  -->
                <div class="form-group row">
                  <label class="col-12 col-form-label col-form-label-bold">III. Tiền sử</label>
                </div>
                <!--  -->
                <div class="form-group row">
                  <label class="col-12 col-form-label">1. Bản thân</label>
                  <div class="col-12">
                    <textarea class="form-control" rows="3"
                    [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.TienSuBenhBanThan" [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                  </div>
<!--                  <div class="col-2"></div>-->
                  <div class="col-2">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input"
                      [ngModel]="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh?.DiUng" (ngModelChange)="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh.DiUng= $event" 
                      [ngModelOptions]="{standalone: true}" id="DacDiemLienQuanBenhDiUng">
                      <!-- <input type="checkbox" class="form-check-input" id="DacDiemLienQuanBenhDiUng"> -->
                      <label class="form-check-label" for="DacDiemLienQuanBenhDiUng">1.Dị ứng</label>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input"
                      [ngModel]="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh?.RuouBia" (ngModelChange)="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh.RuouBia= $event" 
                      [ngModelOptions]="{standalone: true}" id="DacDiemLienQuanBenhRuouBia">
                      <label class="form-check-label" for="DacDiemLienQuanBenhRuouBia">2.Rượu</label>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input"
                      [ngModel]="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh?.MaTuy" (ngModelChange)="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh.MaTuy= $event" 
                      [ngModelOptions]="{standalone: true}" id="DacDiemLienQuanBenhMaTuy">
                      <label class="form-check-label" for="DacDiemLienQuanBenhMaTuy">3.Ma túy</label>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input"
                      [ngModel]="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh?.ThuocLa" (ngModelChange)="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh.ThuocLa= $event" 
                      [ngModelOptions]="{standalone: true}" id="DacDiemLienQuanBenhThuocLa">
                      <label class="form-check-label" for="DacDiemLienQuanBenhThuocLa">4.Thuốc lá</label>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input"
                      [ngModel]="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh?.Khac_DacDiemLienQuanBenh" (ngModelChange)="ThongTinHoSoBenhAn.BenhAn.DacDiemLienQuanBenh.Khac_DacDiemLienQuanBenh= $event" 
                      [ngModelOptions]="{standalone: true}" id="DacDiemLienQuanBenhKhac_DacDiemLienQuanBenh">
                      <label class="form-check-label" for="DacDiemLienQuanBenhKhac_DacDiemLienQuanBenh">5.Khác</label>
                    </div>
                  </div>
                </div>
                <!--  -->

                <div class="form-group row">
                  <label class="col-12 col-form-label">Mô tả(nếu có)</label>
                  <div class="col-12">
                    <textarea class="form-control" rows="3"
                              [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.MotaTienSuBanThan" [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                  </div>
                </div>
                <!--  -->
                <div class="form-group row">
                  <label class="col-12 col-form-label">+ Đặc điểm liên quan đến bệnh tật</label>
                  <div class="col-12">
                    <textarea class="form-control" rows="3"
                              [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.Khac_DacDiemLienQuanBenh_Text" [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                  </div>
                </div>
                <!--  -->
                <div class="form-group row">
                  <label class="col-12 col-form-label">2.Gia đình</label>
                  <div class="col-12">
                    <textarea class="form-control" rows="3"
                    [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.TienSuBenhGiaDinh"
                              [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                  </div>
                </div>
                <!--  -->
                <!--  -->
                <!--  -->
                <!--  -->
                <div class="form-group row">
                  <div class="col-8 form-group row">
                    <label class="col-12 col-form-label col-form-label-bold">IV. Khám bệnh</label>
                    <label class="col-12 col-form-label">4.1 Khám toàn thân:</label>
                    <div class="col-12">
                    <textarea class="form-control" rows="5"
                              [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.ToanThan"
                              [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                    </div>
                  </div>
                  <div class="col-4 form-background-custom">

                    <div class="row row-margin-custom">
                      <label class="col-4 col-form-label">Mạch</label>
                      <div class="col-5">
                        <input class="form-control form-control-sm" type="text"
                               [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.DauSinhTon.Mach"
                               [ngModelOptions]="{standalone: true}" placeholder="">
                      </div>
                      <label class="col-3 col-form-label">lần/ph</label>
                      <!--  -->
                    </div>
                    <div class="row row-margin-custom">
                      <label class="col-4 col-form-label">Nhiệt độ</label>
                      <div class="col-5">
                        <input class="form-control form-control-sm" type="text"
                               [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.DauSinhTon.NhietDo"
                               [ngModelOptions]="{standalone: true}" placeholder="">
                      </div>
                      <label class="col-3 col-form-label">ºC</label>
                      <!--  -->
                    </div>
                    <div class="row  row-margin-custom">
                      <!--  -->
                      <label class="col-4 col-form-label">Huyết áp</label>
                      <div class="col-5">
                        <input class="form-control form-control-sm" type="text"
                               [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.DauSinhTon.HuyetAp"
                               [ngModelOptions]="{standalone: true}" placeholder="">
                      </div>
                      <label class="col-3 col-form-label">mmHg</label>
                      <!--  -->
                    </div>
                    <div class="row  row-margin-custom">
                      <!--  -->
                      <label class="col-4 col-form-label">Nhịp thở</label>
                      <div class="col-5">
                        <input class="form-control form-control-sm" type="text"
                               [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.DauSinhTon.NhipTho"
                               [ngModelOptions]="{standalone: true}" placeholder="">
                      </div>
                      <label class="col-3 col-form-label">lần/ph</label>
                      <!--  -->
                    </div>
                    <div class="row  row-margin-custom">
                      <!--  -->
                      <label class="col-4 col-form-label">Cân nặng</label>
                      <div class="col-5">
                        <input class="form-control form-control-sm" type="text"
                               [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.DauSinhTon.CanNang"
                               [ngModelOptions]="{standalone: true}" placeholder="">
                      </div>
                      <label class="col-3 col-form-label">kg</label>
                      <!--  -->
                    </div>
                  </div>

                </div>
              </div>
            </form>

            <form class="form-horizontal col-6">
              <div class="card-body">
                <div class="form-group row">
                  <label class="col-12 col-form-label col-form-label-bold">4.2 Khám bộ phận:</label>
                </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label">Tuần hoàn: </label>
                  <div class="col-10">
                        <textarea class="form-control" rows="2"
                                  [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.TuanHoan"
                                  [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label">Hô hấp: </label>
                  <div class="col-10">
                        <textarea class="form-control" rows="2"
                                  [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.HoHap"
                                  [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label">Tiêu hóa:</label>
                  <div class="col-10">
                        <textarea class="form-control" rows="2"
                                  [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.TieuHoa"
                                  [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label">Tiết niệu – sinh dục:</label>
                  <div class="col-10">
                        <textarea class="form-control" rows="2"
                                  [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.ThanTietNieuSinhDuc"
                                  [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label">Thần kinh:</label>
                  <div class="col-10">
                        <textarea class="form-control" rows="2"
                                  [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.ThanKinh"
                                  [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label">Cơ xương khớp</label>
                  <div class="col-10">
                        <textarea class="form-control" rows="2"
                                  [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.CoXuongKhop"
                                  [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label">Tai – Mũi – Họng</label>
                  <div class="col-10">
                        <textarea class="form-control" rows="2"
                                  [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.TaiMuiHong"
                                  [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label">Răng – Hàm - Mặt</label>
                  <div class="col-10">
                        <textarea class="form-control" rows="2"
                                  [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.RangHamMat"
                                  [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label">Mắt:</label>
                  <div class="col-10">
                        <textarea class="form-control" rows="2"
                                  [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.Mat"
                                  [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-2 col-form-label">Nội tiết, dinh dưỡng và các bệnh lý khác</label>
                  <div class="col-10">
                        <textarea class="form-control" rows="2"
                                  [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.Khac_CacCoQuan"
                                  [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-12 col-form-label col-form-label-bold">V. TÓM TẮT KẾT QUẢ CẬN LÂM SÀNG</label>
                  <div class="col-12">
                        <textarea class="form-control" rows="2"
                                  [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.TomTatKetQuaCanLamSang"
                                  [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                  </div>
                </div>



                <!--  -->
                <div class="form-group row">
                  <label class="col-2 col-form-label col-form-label-bold">VI. CHẨN ĐOÁN</label>
                  <label class="col-7 col-form-label col-form-label-bold"></label>
                  <label class="col-3 col-form-label col-form-label-bold">Mã ICD</label>

                </div>
                <!-- -->
                <div class="form-group row">
                  <label class="col-2 col-form-label">+ Bệnh chính</label>
                  <div class="col-7">
                    <input class="form-control form-control-sm" type="text"
                    [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.BenhChinh"
                    [ngModelOptions]="{standalone: true}" placeholder="">
                  </div>
                  <div class="col-3">
                    <input class="form-control form-control-sm" type="text"
                    [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.MICD_BenhChinh"
                    [ngModelOptions]="{standalone: true}" placeholder="">
                  </div>
                </div>
                <!--  -->
                <div class="form-group row">
                  <label class="col-2 col-form-label">+ Bệnh kèm theo</label>
                  <div class="col-7">
                    <input class="form-control form-control-sm" type="text"
                    [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.BenhKemTheo"
                    [ngModelOptions]="{standalone: true}" placeholder="">
                  </div>
                  <div class="col-3">
                    <input class="form-control form-control-sm" type="text"
                    [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.MICD_BenhKemTheo"
                    [ngModelOptions]="{standalone: true}" placeholder="">
                  </div>
                </div>

                <div class="form-group row"><label class="col-2 col-form-label">+ Phân biệt</label>
                  <div class="col-10">
                    <input class="form-control form-control-sm" type="text"
                    [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.PhanBiet"
                    [ngModelOptions]="{standalone: true}" placeholder="">
                  </div>
                </div>

                <!--  -->
              </div>
              <!-- /.card-body -->
            </form>

          </div>
          <!-- /.card-body -->
        </div>
      </div>

    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
