<div class="modal fade show" id="modal-xl" style="top:50px;display: block; padding-right: 16px;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Danh sách phiếu điều trị</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"  (click)="cancel()">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-2">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" 
              [(ngModel)]="cbLoc" [ngModelOptions]="{standalone: true}" id="cbLoc">
              <label class="form-check-label" for="cbLoc">Lọc theo ngày</label>
            </div>
          </div>
          <div class="col-3 input-group">
            <label class="form-check-label label-input-padding" for="dtTu">Từ ngày</label>
            <input class="form-control form-control-sm" type="date" 
            [disabled]="!cbLoc"
            [ngModelOptions]="{standalone: true}" 
            [ngModel]="dtTu | date:'yyyy-MM-dd'" 
            (ngModelChange)="dtTu = $event"  
            id="dtTu"
            >
          </div>
          <div class="col-3 input-group">
            <label class="form-check-label label-input-padding" for="dtDen">Đến ngày</label>
            <input class="form-control form-control-sm" type="date" 
            [disabled]="!cbLoc"
            [ngModelOptions]="{standalone: true}" 
            [ngModel]="dtDen | date:'yyyy-MM-dd'" 
            (ngModelChange)="dtDen = $event" 
            id="dtDen" 
            >
          </div>
          
          <div class="col-1 input-group">
            <button type="button" class="btn btn-primary" (click)="btLoc()" 
            [disabled]="!cbLoc">Lọc</button>
          </div>
          <div class="col-1 offset-2 input-group">
            <button type="button" class="btn btn-primary" (submit)="submit()">Chọn</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12">
            <div class="card">
              <!-- <div class="card-header">
                <h3 class="card-title">Fixed Header Table</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th>
                        <input type="checkbox" (click)="ckAll"
                        >
                      </th>
                      <th>Số phiếu</th>
                      <th>Ngày tạo</th>
                      <th>Diễn biến bệnh</th>
                      <th>Y lệnh</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" 
                          [(ngModel)]="cbLoc" [ngModelOptions]="{standalone: true}">
                        </div>
                      </td>
                      <td>John Doe</td>
                      <td>11-7-2014</td>
                      <td><span class="tag tag-success">Approved</span></td>
                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancel()">Đóng</button>
      </div> -->
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- 
<div class="modal-card">
  <form [formGroup]="frmSubscribe" (submit)="submit()">
    <header class="modal-card-head has-text-weight-bold">
      Subscribe
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input formControlName="name" class="input" type="text" placeholder="e.g Alex Smith">
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input formControlName="email" class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
        </div>
      </div>

    </section>
    <footer class="modal-card-foot">
      <div class="buttons">
        <button type="submit" class="button is-success">Subscribe</button>
        <button (click)="cancel()" type="button" class="button is-danger">Cancel</button>
      </div>
    </footer>
  </form>
</div> -->