<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- I Hành chính -->
                <div class="card card-primary card-outline card-custom">
                    <div class="row">
                        <form class="form-horizontal col-6">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label col-form-label-bold">I. HÀNH CHÍNH</label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">1. Họ và tên</label>
                                    <div class="col-3">
                                        <input class="form-control form-control-sm" type="text" placeholder="" required
                                            aria-describedby="TenBenhNhan-Error" #TenBenhNhan="ngModel"
                                            [(ngModel)]="ThongTinHoSoBenhAn.HanhChinhBenhNhan.TenBenhNhan"
                                            [ngModelOptions]="{standalone: true}"
                                            [ngClass]="{ 'is-invalid': TenBenhNhan.invalid }" readonly>
                                        <span
                                            *ngIf="TenBenhNhan.invalid && (TenBenhNhan.dirty || TenBenhNhan.touched) && TenBenhNhan.errors?.required"
                                            id="TenBenhNhan-Error" class="error invalid-feedback">Họ và tên không được
                                            để trống</span>
                                    </div>
                                    <label class="col-2 col-form-label">2. Sinh ngày</label>
                                    <div class="col-3">
                                        <input class="form-control form-control-sm" type="date" required
                                            [ngModel]="ThongTinHoSoBenhAn.HanhChinhBenhNhan.NgaySinh | date:'yyyy-MM-dd'"
                                            (ngModelChange)="ThongTinHoSoBenhAn.HanhChinhBenhNhan.NgaySinh = $event"
                                            [ngModelOptions]="{standalone: true}" placeholder=""
                                            aria-describedby="NgaySinh-Error" #NgaySinh="ngModel"
                                            [ngClass]="{ 'is-invalid': NgaySinh.invalid }" readonly>
                                        <span
                                            *ngIf="NgaySinh.invalid && (NgaySinh.dirty || NgaySinh.touched) && NgaySinh.errors?.required"
                                            id="NgaySinh-Error" class="error invalid-feedback">
                                            Ngày sinh không được để trống</span>
                                    </div>
                                    <label class="col-1 col-form-label">Tuổi</label>
                                    <div class="col-1">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.HanhChinhBenhNhan.Tuoi"
                                            [ngModelOptions]="{standalone: true}" aria-describedby="Tuoi-Error"
                                            #Tuoi="ngModel" [ngClass]="{ 'is-invalid': Tuoi.invalid }" required readonly>
                                        <span
                                            *ngIf="Tuoi.invalid && (Tuoi.dirty || Tuoi.touched) && Tuoi.errors?.required"
                                            id="Tuoi-Error" class="error invalid-feedback">Tuổi không được để
                                            trống</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">3. Giới tính</label>
                                    <div class="col-3">
                                        <select class="form-control form-control-sm select2"
                                            [(ngModel)]="ThongTinHoSoBenhAn.HanhChinhBenhNhan.GioiTinh"
                                            [ngModelOptions]="{standalone: true}" aria-describedby="GioiTinh-Error"
                                            #GioiTinh="ngModel" [ngClass]="{ 'is-invalid': GioiTinh.invalid }" required readonly>
                                            <option [ngValue]="1">Nam</option>
                                            <option [ngValue]="2">Nữ</option>
                                        </select>
                                        <span
                                            *ngIf="GioiTinh.invalid && (GioiTinh.dirty || GioiTinh.touched) && GioiTinh.errors?.required"
                                            id="GioiTinh-Error" class="error invalid-feedback">Giới tính không được để
                                            trống</span>

                                    </div>
                                    <label class="col-2 col-form-label">4. Nghề nghiệp</label>
                                    <div class="col-5">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.HanhChinhBenhNhan.NgheNghiep"
                                            [ngModelOptions]="{standalone: true}" aria-describedby="NgheNghiep-Error"
                                            #NgheNghiep="ngModel" [ngClass]="{ 'is-invalid': NgheNghiep.invalid }"
                                            required readonly>

                                        <span
                                            *ngIf="NgheNghiep.invalid && (NgheNghiep.dirty || NgheNghiep.touched) && NgheNghiep.errors?.required"
                                            id="NgheNghiep-Error" class="error invalid-feedback">Nghề nghiệp không được
                                            để trống</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">5. Dân tộc</label>
                                    <div class="col-3">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.HanhChinhBenhNhan.DanToc"
                                            [ngModelOptions]="{standalone: true}" placeholder="" readonly>
                                    </div>
                                    <label class="col-2 col-form-label">6. Ngoại kiều</label>
                                    <div class="col-5">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.HanhChinhBenhNhan.NgoaiKieu"
                                            [ngModelOptions]="{standalone: true}" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">7. Địa chỉ</label>
                                    <div class="col-10">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="diachi"
                                            [ngModelOptions]="{standalone: true}" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">8. Nơi làm việc</label>
                                    <div class="col-10">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.HanhChinhBenhNhan.NoiLamViec"
                                            [ngModelOptions]="{standalone: true}" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">9. Đối tượng</label>
                                    <div class="col-10">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.HanhChinhBenhNhan.DoiTuong"
                                            [ngModelOptions]="{standalone: true}" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">10. BHYT giá trị đến</label>
                                    <div class="col-4 input-group">
                                        <input class="form-control form-control-sm" type="date"
                                            [ngModelOptions]="{standalone: true}"
                                            [ngModel]="ThongTinHoSoBenhAn.HanhChinhBenhNhan.NgayHetHanBHYT | date:'yyyy-MM-dd'"
                                            (ngModelChange)="ThongTinHoSoBenhAn.HanhChinhBenhNhan.NgayHetHanBHYT = $event" readonly>
                                    </div>
                                    <label class="col-2 col-form-label">Số thẻ BHYT</label>
                                    <div class="col-4">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.HanhChinhBenhNhan.SoTheBHYT"
                                            [ngModelOptions]="{standalone: true}" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label class="col-2 col-form-label">11. Họ tên, địa chỉ người nhà khi cần báo
                                        tin</label>
                                    <div class="col-10">
                                        <textarea class="form-control" rows="3" placeholder=""
                                            [(ngModel)]="ThongTinHoSoBenhAn.HanhChinhBenhNhan.HoTenDiaChiNguoiNha"
                                            [ngModelOptions]="{standalone: true}" placeholder="" readonly></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-5"></div>
                                    <label class="col-2 col-form-label">Điện thoại số</label>
                                    <div class="col-5">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.HanhChinhBenhNhan.SoDienThoaiNguoiNha"
                                            [ngModelOptions]="{standalone: true}" placeholder="" readonly>
                                    </div>
                                </div>
                                <!-- II QUẢN LÝ NGƯỜI BỆNH -->
                                <div class="form-group row">
                                    <label class="col-12 col-form-label col-form-label-bold">II. QUẢN LÝ NGƯỜI
                                        BỆNH</label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">12. Vào viện</label>
                                    <div class="col-4">
                                        <input class="form-control form-control-sm" type="datetime-local"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.NgayVaoVien"
                                            [ngModelOptions]="{standalone: true}" placeholder="" readonly>
                                    </div>
                                    <label class="col-2 col-form-label">14. Nơi giới thiệu</label>
                                    <div class="col-4">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.NoiGioiThieu"
                                            [ngModelOptions]="{standalone: true}" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">13. Trực tiếp vào</label>
                                    <div class="col-3">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.TrucTiepVao"
                                            [ngModelOptions]="{standalone: true}" placeholder="" readonly>
                                    </div>
                                    <label class="col-3 col-form-label">- Vào viện do bệnh này lần thứ</label>
                                    <div class="col-4">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.VaoVienDoBenhNayLanThu"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-2"></div>
                                    <label class="col-3 col-form-label col-form-label-itatlic">Khoa</label>
                                    <label class="col-4 col-form-label col-form-label-itatlic">Thời gian</label>
                                    <label class="col-3 col-form-label col-form-label-itatlic">Ngày điều trị</label>
                                    <label class="col-2 col-form-label">15. Vào khoa</label>
                                    <div class="col-3">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.TenKhoaVao"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                    <div class="col-4">
                                        <input class="form-control form-control-sm" type="datetime-local"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.NgayVaoKhoa"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                    <div class="col-3">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.SoNgayDieuTriTaiKhoa"
                                            [ngModelOptions]="{standalone: true}" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <label class="col-2 col-form-label">16. Chuyển khoa</label>
                                    <div class="col-10">
                                        <textarea class="form-control" rows="3"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.ChuyenKhoa1"
                                            [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">17. Chuyển viện</label>
                                    <div class="col-10">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.ChuyenVien"
                                            [ngModelOptions]="{standalone: true}" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">- Chuyển đến</label>
                                    <div class="col-10">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.TenVienChuyenBenhNhanDen"
                                            [ngModelOptions]="{standalone: true}" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">18. Ra viện</label>
                                    <div class="col-5">
                                        <input class="form-control form-control-sm" type="datetime-local"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.NgayRaVien"
                                            [ngModelOptions]="{standalone: true}" placeholder="" readonly>
                                    </div>
                                    <div class="col-5">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.TinhTrangRaVien"
                                            [ngModelOptions]="{standalone: true}" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">19. Tổng số ngày điều trị</label>
                                    <div class="col-2">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.TongSoNgayDieuTri1"
                                            [ngModelOptions]="{standalone: true}" placeholder="" readonly>
                                    </div>
                                    <div>
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.TongSoNgayDieuTri2"
                                            [ngModelOptions]="{standalone: true}" placeholder="" readonly>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal col-6">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-8 col-form-label col-form-label-bold">III. CHẨN ĐOÁN</label>
                                    <label class="col-4 col-form-label col-form-label-bold">Mã</label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">20. Nơi chuyển đến</label>
                                    <div class="col-4">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.ChanDoan_NoiChuyenDen"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                    <div class="col-2">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.MaICD_NoiChuyenDen"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">21. KKB/Cấp cứu</label>
                                    <div class="col-4">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.ChanDoan_KKB_CapCuu"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                    <div class="col-2">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.MaICD_KKB_CapCuu"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">22. Khi vào khoa điều trị</label>
                                    <div class="col-4">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.ChanDoan_KhiVaoKhoaDieuTri"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                    <div class="col-2">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.MaICD_KhiVaoKhoaDieuTri"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-2">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.TaiBien"
                                                [ngModelOptions]="{standalone: true}" id="ThongTinDieuTriTaiBienID">
                                            <label class="form-check-label" for="ThongTinDieuTriTaiBienID">Tai biến</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.BienChung"
                                                [ngModelOptions]="{standalone: true}" id="ThongTinDieuTriBienChungID">
                                            <label class="form-check-label" for="ThongTinDieuTriBienChungID">Biến chứng</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input"
                                                [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.LyDoTaiBienBienChung"
                                                [ngModelOptions]="{standalone: true}" id="LyDoTaiBienBienChung_PhauThuat" value="1">
                                            <label class="form-check-label" for="LyDoTaiBienBienChung_PhauThuat">1. Do phẫu thuật</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input"
                                                [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.LyDoTaiBienBienChung"
                                                [ngModelOptions]="{standalone: true}" id="LyDoTaiBienBienChung_GayMe" value="2">
                                            <label class="form-check-label" for="LyDoTaiBienBienChung_GayMe">2. Do gây mê</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input"
                                                [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.LyDoTaiBienBienChung"
                                                [ngModelOptions]="{standalone: true}" id="LyDoTaiBienBienChung_NhiemKhuan" value="3"> 
                                            <label class="form-check-label" for="LyDoTaiBienBienChung_NhiemKhuan">3. Do nhiễm khuẩn</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input"
                                                [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.LyDoTaiBienBienChung"
                                                [ngModelOptions]="{standalone: true}" id="LyDoTaiBienBienChung_Khac" value="4">
                                            <label class="form-check-label" for="LyDoTaiBienBienChung_Khac">4. Khác</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-2">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.PhauThuat"
                                                [ngModelOptions]="{standalone: true}" id="BenhAnPhauThuatID">
                                            <label class="form-check-label" for="BenhAnPhauThuatID">Phẫu thuật</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.ThuThuat"
                                                [ngModelOptions]="{standalone: true}" id="BenhAnThuThuatID">
                                            <label class="form-check-label" for="BenhAnThuThuatID">Thủ thuật</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col4">23.Tổng số ngày điều trị sau phẫu thuật</div>
                                    <div class="col-2"><input class="form-control form-control-sm" type="text"
                                        [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.TongSoNgayDieuTriSauPT"
                                        [ngModelOptions]="{standalone: true}" placeholder=""></div>
                                    <div class="col-4">24.Tổng số lần phẫu thuật</div>
                                    <div class="col-2"><input class="form-control form-control-sm" type="text"
                                        [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.TongSoLanPhauThuat"
                                        [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-form-label">25. Ra viện:</label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Bệnh chính</label>
                                    <div class="col-4">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.BenhChinh_RaVien"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                    <div class="col-2">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.MaICD_BenhChinh_RaVien"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Nguyên nhân</label>
                                    <div class="col-4">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.NguyenNhan_BenhChinh_RaVien"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                    <div class="col-2">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.MaICD_NguyenNhan_BenhChinh_RV"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Bệnh kèm theo</label>
                                    <div class="col-4">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.BenhKemTheo_RaVien"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                    <div class="col-2">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.MaICD_BenhKemTheo_RaVien"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Bệnh kèm theo 2</label>
                                    <div class="col-4">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.BenhKemTheo_RaVien1"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                    <div class="col-2">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.MaICD_BenhKemTheo_RaVien1"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Bệnh kèm theo khác</label>
                                    <div class="col-4">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.BenhKemTheo_RaVien2"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                    <div class="col-2">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.MaICD_BenhKemTheo_RaVien2"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Chuẩn đoán trước phẫu thuật</label>
                                    <div class="col-4">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.ChanDoanTruocPhauThuat"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                    <div class="col-2">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.MaICD_ChanDoanTruocPhauThuat"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-4 col-form-label">Chuẩn đoán sau phẫu thuật</label>
                                    <div class="col-4">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.ChanDoanSauPhauThuat"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                    <div class="col-2">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.MaICD_ChanDoanSauPhauThuat"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                </div>
                                <!-- III CHẨN ĐOÁN -->
                                <div class="form-group row">
                                    <label class="col-12 col-form-label col-form-label-bold">IV. TÌNH TRẠNG RA
                                        VIỆN</label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">26. Kết quả điều trị</label>
                                    <div class="col-10">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.KetQuaDieuTri"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">27. Giải phẫu bệnh</label>
                                    <div class="col-10">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.GiaiPhauBenh"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">28. Tình hình tử vong</label>
                                    <div class="col-4">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.NgayTuVong"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                    <label class="col-2 col-form-label">Chuẩn đoán</label>
                                    <div class="col-4">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.BenhChinh_RaVien"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">Lý do</label>
                                    <div class="col-4">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.LyDoTuVong"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                    <label class="col-2 col-form-label">Thời gian</label>
                                    <div class="col-4">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.ThoiGianTuVong"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">29. Nguyên nhân tử vong chính</label>
                                    <div class="col-8">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.NguyenNhanChinhTuVong"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                    <div class="col-2">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.MaICD_NguyenNhanChinhTuVong"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">30. Khám nghiệm tử thi</label>
                                    <div class="col-3">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.KhamNghiemTuThi"
                                                [ngModelOptions]="{standalone: true}" id="KhamNghiemTuThiCb">
                                            <label class="form-check-label" for="KhamNghiemTuThiCb">Có</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">31. Chẩn đoán giải phẫu tử thi</label>
                                    <div class="col-8">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.ChanDoanGiaiPhauTuThi"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                    <div class="col-2">
                                        <input class="form-control form-control-sm" type="text"
                                            [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.MaICD_ChanDoanGiaiPhauTuThi"
                                            [ngModelOptions]="{standalone: true}" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-6 col-form-label col-form-label-bold col-form-label-algin">Giám
                                        đốc bệnh viện</label>
                                    <label class="col-6 col-form-label col-form-label-bold col-form-label-algin">Trưởng
                                        khoa</label>
                                    <div class="col-6">
                                        <virtual-scroll-example   
                                            [items]="ListNhanVien"
                                            [value]="ThongTinHoSoBenhAn.ThongTinDieuTri.MaGiamDocBenhVien"
                                            (valueChange)="ThongTinHoSoBenhAn.ThongTinDieuTri.MaGiamDocBenhVien=$event"
                                        ></virtual-scroll-example>
                                    </div>
                                    <div class="col-6">
                                        <virtual-scroll-example   
                                            [items]="ListNhanVien"
                                            [value]="ThongTinHoSoBenhAn.ThongTinDieuTri.MaTruongKhoa"
                                            (valueChange)="ThongTinHoSoBenhAn.ThongTinDieuTri.MaTruongKhoa=$event"
                                        ></virtual-scroll-example>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>