<!-- Content Wrapper. Contains page content -->


  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <!-- I Hành chính -->
          <div class="card card-primary card-outline card-custom">
            <!-- <div class="card-header">
              <h3 class="card-title"></h3>
            </div> -->
            <div class="row">
              <form class="form-horizontal col-6">
                <div class="card-body">

                  <!-- PHẦN III:  TỔNG KẾT BỆNH ÁN RA VIỆN -->
                  <div class="form-group row">
                    <label class="col-8 col-form-label col-form-label-bold">III. KHÁM BỆNH</label>
                    <div class="col-4 input-group">
                      <input class="form-control form-control-sm" type="date" 
                      [ngModelOptions]="{standalone: true}" 
                      [ngModel]="ThongTinHoSoBenhAn.BenhAn.NgayKhamBenh | date:'yyyy-MM-dd'" 
                      (ngModelChange)="ThongTinHoSoBenhAn.BenhAn.NgayKhamBenh = $event"  
                      >
                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <div class="col-7">
                      <img
                        style="width: 100%;"
                        src="assets/Resources/HinhAnhDaLieu.png" 
                        alt="">
                    </div>
                    <div class="col-1"></div>
                    <div class="col-4 form-background-custom-grey">
                      <div class="row row-margin-custom ">
                        <label class="col-4 col-form-label">Mạch</label>
                        <div class="col-5">
                          <input class="form-control form-control-sm" type="text" 
                          [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.DauSinhTon.Mach" 
                          [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                        <label class="col-3 col-form-label">lần/ph</label>
                        <!--  -->
                      </div>
                      <div class="row row-margin-custom">
                        <label class="col-4 col-form-label">Nhiệt độ</label>
                        <div class="col-5">
                          <input class="form-control form-control-sm" type="text" 
                          [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.DauSinhTon.NhietDo" 
                          [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                        <label class="col-3 col-form-label">ºC</label>
                        <!--  -->
                      </div>
                      <div class="row  row-margin-custom">
                        <!--  -->
                        <label class="col-4 col-form-label">Huyết áp</label>
                        <div class="col-5">
                          <input class="form-control form-control-sm" type="text" 
                          [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.DauSinhTon.HuyetAp" 
                          [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                        <label class="col-3 col-form-label">mmHg</label>
                        <!--  -->
                      </div>
                      <div class="row  row-margin-custom">
                        <!--  -->
                        <label class="col-4 col-form-label">Nhịp thở</label>
                        <div class="col-5">
                          <input class="form-control form-control-sm" type="text" 
                          [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.DauSinhTon.NhipTho" 
                          [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                        <label class="col-3 col-form-label">lần/ph</label>
                        <!--  -->
                      </div>
                      <div class="row  row-margin-custom">
                        <!--  -->
                        <label class="col-4 col-form-label">Cân nặng</label>
                        <div class="col-5">
                          <input class="form-control form-control-sm" type="text" 
                          [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.DauSinhTon.CanNang" 
                          [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                        <label class="col-3 col-form-label">kg</label>
                        <!--  -->
                      </div>
                      <div class="row  row-margin-custom">
                        <!--  -->
                        <label class="col-4 col-form-label">Chiều cao</label>
                        <div class="col-5">
                          <input class="form-control form-control-sm" type="text" 
                          [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.DauSinhTon.ChieuCao" 
                          [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                        <label class="col-3 col-form-label">cm</label>
                        <!--  -->
                      </div>
                      <div class="row  row-margin-custom">
                        <label class="col-4 col-form-label">BMI</label>
                        <div class="col-5">
                          <input class="form-control form-control-sm" type="text" 
                          [(ngModel)]="ThongTinHoSoBenhAn.ThongTinDieuTri.DauSinhTon.BMI" 
                          [ngModelOptions]="{standalone: true}" placeholder="">
                        </div>
                        <label class="col-3 col-form-label"></label>
                        <!--  -->
                      </div>
                      <div class="row" style="margin-top: 2rem;">
                        <!-- <div class=""> -->
                          <button type="button" class="btn btn-block btn-info btn-sm">Đặt lại hình gốc</button>
                        <!-- </div> -->
                      </div>
                      

                    </div>
                  </div>
                  
                  <div class="form-group row">
                    <label class="col-12 col-form-label col-form-label-bold">1. Toàn thân:
                    </label>
                    <div class="col-12">
                      <textarea class="form-control" rows="3" placeholder=""
                      [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.ToanThan" 
                      [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-12 col-form-label col-form-label-bold">
                      2. Triệu chứng cơ năng:
                    </label>
                    <div class="col-12">
                      <textarea class="form-control" rows="3" placeholder=""
                      [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.TrieuChungCoNang" 
                      [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-12 col-form-label col-form-label-bold">3. Thương tổn căn bản:
                    </label>
                    <div class="col-12">
                      <textarea class="form-control" rows="3" placeholder=""
                      [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.TonThuongCanBan" 
                      [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                    </div>
                  </div>

                  <!-- 4. Các cơ quan -->
                  <div class="form-group row">
                    <label class="col-12 col-form-label col-form-label-bold">4. Các cơ quan:
                    </label>
                  </div>

                  <!-- Tuần hoàn -->
                  <div class="form-group row">
                    <label class="col-2 col-form-label">+ Tuần hoàn:
                    </label>
                    <div class="col-10">
                      <textarea class="form-control" rows="2" placeholder=""
                      [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.TuanHoan" 
                      [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                    </div>
                  </div>

                  <!-- Hô hấp -->
                  <div class="form-group row">
                    <label class="col-2 col-form-label">+ Hô hấp:
                    </label>
                    <div class="col-10">
                      <textarea class="form-control" rows="2" placeholder=""
                      [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.HoHap" 
                      [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                    </div>
                  </div>
                  
                  <!-- Tiêu hóa -->
                  <div class="form-group row">
                    <label class="col-2 col-form-label">+ Tiêu hóa:
                    </label>
                    <div class="col-10">
                      <textarea class="form-control" rows="2" placeholder=""
                      [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.TieuHoa" 
                      [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                    </div>
                  </div>

                  <!-- Thận -->
                  <div class="form-group row">
                    <label class="col-2 col-form-label">+ Thận-Tiết niệu-Sinh dục:
                    </label>
                    <div class="col-10">
                      <textarea class="form-control" rows="2" placeholder=""
                      [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.ThanTietNieuSinhDuc" 
                      [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                    </div>
                  </div>

                  <!-- Thần kinh -->
                  <div class="form-group row">
                    
                    <label class="col-2 col-form-label">+ Thần kinh:
                    </label>
                    <div class="col-10">
                      <textarea class="form-control" rows="2" placeholder=""
                      [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.ThanKinh" 
                      [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                    </div>

                  </div>

                  <!-- Khác -->
                  <div class="form-group row">
                    <label class="col-2 col-form-label">+ Khác:
                    </label>
                    <div class="col-10">
                      <textarea class="form-control" rows="2" placeholder=""
                      [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.Khac_CacCoQuan" 
                      [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                    </div>
                  </div>

                </div>
                <!-- /.card-body -->
              </form>

              <form class="form-horizontal col-6">
                <div class="card-body">
                
                  <!-- 5. Các xét nghiệm cận lâm sàng cần làm: -->
                  <div class="form-group row">
                    <label class="col-12 col-form-label col-form-label-bold">5. Các xét nghiệm cận lâm sàng cần làm:
                    </label>
                    <div class="col-12">
                      <textarea class="form-control" rows="3" placeholder=""
                      [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.CacXetNghiemCanLamSangCanLam" 
                      [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                    </div>
                  </div>

                  <!-- 6. Tóm tắt bệnh án: -->
                  <div class="form-group row">
                    <label class="col-12 col-form-label col-form-label-bold">6. Tóm tắt bệnh án:
                    </label>
                    <div class="col-12">
                      <textarea class="form-control" rows="3" placeholder=""
                      [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.TomTatBenhAn" 
                      [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                    </div>
                  </div>


                  <!-- IV. Chẩn đoán khi vào khoa điều trị -->
                  <div class="form-group row">
                    <label class="col-12 col-form-label col-form-label-bold">IV. Chẩn đoán khi vào khoa điều trị:
                    </label>
                  </div>

                  <!-- Bệnh chính -->
                  <div class="form-group row">
                    <label class="col-2 col-form-label">+ Bệnh chính:
                    </label>
                    <div class="col-10">
                      <input class="form-control form-control-sm" type="text" 
                      [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.BenhChinh" [ngModelOptions]="{standalone: true}" placeholder="">
                    </div>
                  </div>

                  <!-- Bệnh kèm theo -->
                  <div class="form-group row">
                    <label class="col-2 col-form-label">+ Bệnh kèm theo:
                    </label>
                    <div class="col-10">
                      <input class="form-control form-control-sm" type="text" 
                      [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.BenhKemTheo" [ngModelOptions]="{standalone: true}" placeholder="">
                    </div>
                  </div>

                  <!-- Phân biệt -->
                  <div class="form-group row">
                    <label class="col-2 col-form-label">+ Phân biệt:
                    </label>
                    <div class="col-10">
                      <input class="form-control form-control-sm" type="text" 
                      [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.PhanBiet" [ngModelOptions]="{standalone: true}" placeholder="">

                    </div>
                  </div>

                  <!-- V. Tiên lượng: -->
                  <div class="form-group row">
                    <label class="col-12 col-form-label col-form-label-bold">V. Tiên lượng:
                    </label>
                    <div class="col-12">
                      <textarea class="form-control" rows="3" placeholder=""
                      [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.TienLuong" 
                      [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                    </div>
                  </div>

                  <!-- VI. Hướng điều trị: -->
                  <div class="form-group row">
                    <label class="col-12 col-form-label col-form-label-bold">VI. Hướng điều trị:
                    </label>
                    <div class="col-12">
                      <textarea class="form-control" rows="3" placeholder=""
                      [(ngModel)]="ThongTinHoSoBenhAn.BenhAn.HuongDieuTri" 
                      [ngModelOptions]="{standalone: true}" placeholder=""></textarea>
                    </div>
                  </div>
                                 
                  <!-- Bác sỹ làm bệnh án -->
                  <div class="form-group row">
                    <label class="col-6 col-form-label col-form-label-bold"></label>
                    <label class="col-6 col-form-label col-form-label-bold col-form-label-algin">Bác sỹ làm bệnh án</label>
                    <!-- Xuống dòng -->
                    <label class="col-6 col-form-label col-form-label-bold"></label>
                    <div class="col-6">
                      <virtual-scroll-example   
                      [items]="ListNhanVien"
                      [value]="ThongTinHoSoBenhAn.BenhAn.BacSyLamBenhAn"
                      (valueChange)="ThongTinHoSoBenhAn.BenhAn.BacSyLamBenhAn=$event"
                    ></virtual-scroll-example>
                    </div>
                  </div>

                  
                </div>
                <!-- /.card-body -->
              </form>

            </div>
            <!-- /.card-body -->
          </div>
        </div>

      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
